<!--
  Generated template for the PartidaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true" color="cemexBlue">
  	<ion-buttons left>
  		<button ion-button (click)='salirModulo()' [hidden] = "terminado">
  			<ion-icon name="exit"></ion-icon>
			&nbsp; Salir
		</button>
  	</ion-buttons>
  	<!-- <ion-title>{{nombreModulo}}</ion-title> -->
  	<ion-buttons end>
  		<button ion-button (click)='siguienteSlide()' [disabled]="!hasAnswered" [hidden] = "terminado">
			Siguiente &nbsp;
			<ion-icon name="arrow-dropright-circle"></ion-icon>
		</button>
	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-slides (ionSlideDidChange)="cambioSlide()">
		<ion-slide style="align-items: baseline; height: auto; width: 100% !important" *ngFor="let item of modulo">
			<div [ngSwitch]="item.tipo_pregunta">
				<div style="text-align: left;" [hidden] = "terminado">
					<img *ngIf="item.tipo_pregunta != 'Tip'" src="assets/images/AVANCE{{avanceAux}}.png">
					<img class="icono" *ngIf="item.tipo_pregunta == 'Tip'" src="assets/images/CAMION.png">
				</div>

				<div *ngSwitchCase="'Binaria'">
					<flash-card [isFlipped]="flashCardFlipped">
		                <div class="flash-card-front">{{item.atributos_pregunta.contenido}}</div>
		                <div class="flash-card-back" *ngIf="msmCalificacion == 'Correcto'">
		                	<img class="imagen" src="assets/images/RESPUESTA_CORRECTA.png">
		                </div>
		                <div class="flash-card-back" *ngIf="msmCalificacion == 'Incorrecto'">
		                	<img class="imagen" src="assets/images/RESPUESTA_INCORRECTA.png">
		                </div>
		        	</flash-card>

		        	<div><img *ngIf="item.atributos_pregunta.imagen" src="https://storage.googleapis.com/ili_cemex/Preguntas/{{item.atributos_pregunta.imagen}}.png"></div>

		        	<div padding>
		        		<ion-grid>
		        			<ion-row>
		        				<ion-col col-6>
		        					<button ion-button round full color="cemexBlue" style="font-weight: bold;" [disabled]="hasAnswered" (click)="responderBinaria(item, 1)">VERDADERO</button>
		        				</ion-col>
		        				<ion-col col-6>
		        					<button ion-button round full color="cemexBlue" style="font-weight: bold;" [disabled]="hasAnswered" (click)="responderBinaria(item, 0)">FALSO</button>
		        				</ion-col>
		        			</ion-row>
		        		</ion-grid>
		        	</div>
				</div>

				<div *ngSwitchCase="'Multiple'">
					<flash-card [isFlipped]="flashCardFlipped">
		                <div class="flash-card-front">{{item.atributos_pregunta.contenido}}</div>
		                <div class="flash-card-back" *ngIf="msmCalificacion == 'Correcto'">
		                	<img class="imagen" src="assets/images/RESPUESTA_CORRECTA.png">
		                </div>
		                <div class="flash-card-back" *ngIf="msmCalificacion == 'Incorrecto'">
		                	<img class="imagen" src="assets/images/RESPUESTA_INCORRECTA.png">
		                </div>
		        	</flash-card>

					<div><img *ngIf="item.atributos_pregunta.imagen" src="https://storage.googleapis.com/ili_cemex/Preguntas/{{item.atributos_pregunta.imagen}}.png"></div>

		        	<div padding>
		        	<!-- <ion-list> -->
						<!-- <ion-item *ngFor="let opcion of item.atributos_pregunta.opciones"> -->
							<button ion-button round full color="cemexBlue" style="margin-top: 20px; white-space: normal;" *ngFor="let opcion of item.atributos_pregunta.opciones" [disabled]="hasAnswered" (click)="responderMultiple(item, opcion, item.atributos_pregunta.opcion_correcta)">{{opcion}}</button>
					</div>
							<!-- <ion-label text-wrap>{{opcion}}</ion-label>
							<ion-radio [disabled]="hasAnswered" (click)="responderMultiple(opcion, item.atributos_pregunta.opcion_correcta)"></ion-radio> -->
						<!-- </ion-item> -->
					<!-- </ion-list> -->
				</div>

				<div *ngSwitchCase="'Relacion'">

					<flash-card [isFlipped]="flashCardFlipped">
		                <div class="flash-card-front">{{item.atributos_pregunta.contenido}}</div>
		                <div class="flash-card-back" *ngIf="msmCalificacion == 'Correcto'">
		                	<img class="imagen" src="assets/images/RESPUESTA_CORRECTA.png">
		                </div>
		                <div class="flash-card-back" *ngIf="msmCalificacion == 'Incorrecto'">
		                	<img class="imagen" src="assets/images/RESPUESTA_INCORRECTA.png">
		                </div>
		        	</flash-card>

		        	<div><img *ngIf="item.atributos_pregunta.imagen" src="https://storage.googleapis.com/ili_cemex/Preguntas/{{item.atributos_pregunta.imagen}}.png"></div>

					<button class = "wraper"  padding [disabled] = "!habilitarContenidos">
						<button style="white-space: normal;" ion-button round full color="cemexBlue" padding *ngFor="let contenido of item.atributos_pregunta.contenidos" (click) = "seleccionRelacion(item, contenido, 'contenidos', item.atributos_pregunta.contenidos)"  [disabled]="contenido.seleccionado">
							{{contenido.texto}} 
						</button>
					</button>

					<button class="wraper" padding style="white-space: normal;" [disabled] = "!habilitarOpciones">
						<button style="white-space: normal;" ion-button round full color="cemexBlue" padding *ngFor="let opcion of item.atributos_pregunta.opciones" (click) = "seleccionRelacion(item, opcion, 'opciones', item.atributos_pregunta.opciones)" [disabled]="opcion.seleccionado">
						{{opcion.texto}}
						</button>
					</button>

					<button ion-button clear (click) = "reiniciarRelacion(item)"  [disabled]="hasAnswered" >  <ion-icon name="md-refresh" style="font-size: 50px; color:#143268;"></ion-icon>
						
					</button>
				</div>

				<div padding *ngSwitchCase="'Tip'">
					<div [innerHtml]="item.contenido" style="font-size: x-large; color: #00205b;"></div>
					
					<div padding  *ngIf="item.imagen">
						<img *ngIf="item.imagen.substring(0,1) == 'T'" src="https://storage.googleapis.com/ili_cemex/Tips/{{item.imagen}}.png">
					</div>

					<div padding *ngIf="item.imagen">
						<video *ngIf="item.imagen.substring(0,1) == 'V'" style="width: 100%; border: 2px solid blue;" (ended)="videoEnded()" src="https://storage.googleapis.com/ili_cemex/Tips/{{item.imagen}}.mp4" controls >
							<!-- <source src="https://storage.googleapis.com/ili_cemex/Tips/{{item.imagen}}.mp4"> -->
						</video>
					</div>

				</div>

				<div padding *ngSwitchCase="'final'">
					<div style="font-size: x-large;">
						<div class="msmFinal"> {{item.contenido}} </div>
						<div [ngClass]="moduloSuperado ? 'msmFinalPuntajeSuperado' : 'msmFinalPuntajeNoSuperado'"> {{puntajeAux}}/100 </div> 
						<div *ngIf="moduloSuperado">
							<div>
								<img class="imagenPuntajeSuperado" src="assets/images/munecoPuntaje.png">
							</div>
						</div>

						<div *ngIf="!moduloSuperado">
							<div>
								<img class="imagenPuntajeNoSuperado" src="assets/images/munecoPuntajeTriste.png">
							</div>
							<p class="msjModuloNoSuperado"><i>Debes obtener al menos 80 puntos para superar el módulo</i></p>
						</div>
						<div>	
							<button ion-button color="cemexBlue" (click) = "finalizarModulo()" >
								<ion-icon name="md-exit"></ion-icon>
								&nbsp;Finalizar
							</button>
						</div>
					</div>
				</div>

			</div>
		</ion-slide>
	</ion-slides>
</ion-content>










