page-partida-page {
	/** {
		font-family: 'roboto' !important;
	}*/

	.title.title-md {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: 70%;
		text-align: center;
	}

	.imagen {
		height: 50%;
		width: 50%;
	}

	.icono {
		width: 95%;
	}

	.contenidos{
		background-color: rgba(224, 224, 224, 0.44);
		border: solid lightgray 2px;
		border-radius: 10px;
		width:100%;
		margin-bottom: 4px;
	}

	.opciones{
		background-color: #98bb9a;
		border: solid lightgray 2px;
		border-radius: 10px;
		width:100%;
		margin-bottom: 4px;	}

	.wraper{
		background-color: rgba(224, 224, 224, 0.44);
		border: solid lightgray 2px;
		border-radius: 10px;
		width:100%;
		margin-bottom: 8px;
	}

	.msmFinal{
		text-align: center;
		color: #00205b !important;
	}

	.msmFinalPuntajeSuperado{
		text-align: center;
		color: #00205b !important;
		position: relative;
	    top: 9vh;
	    left: 12vw;
	    font-size: 20px;
	}

	.msmFinalPuntajeNoSuperado{
		text-align: center;
		color: #00205b !important;
		position: relative;
	    top: 8vh;
	    font-size: 20px;
	}

	.imagenPuntajeSuperado {
		width: 38vw;
		margin-left: 16%;
	}

	.imagenPuntajeNoSuperado {
		width: 30vw;
	}

	ion-slides { 
		height: initial; 
	}

	ion-slide {
		align-items: baseline;
		min-width: 100% !important;
	}

	.button {
	    border: none;
	    padding: 15px 32px !important;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    margin: 4px 2px;
	    cursor: pointer;
	    white-space: normal;
	    height:auto;
	    contain: content !important;
    }

    li {
    	text-align: left;
    }

    .msjModuloNoSuperado {
    	color: #00205b;
    	font-size: medium;
    }
}








