<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>My First List</ion-title> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="height: 25%; border: 0px;">
      <ion-col>
        <button ion-item style="background: transparent;" >
          <img src="assets/imgs/RRHH-EN-LINEA.png" style="border-radius: 15px">
        </button>
      </ion-col>
    </ion-row>
    <ion-row style="height: 25%; border: 0px;">
      <ion-col>
        <button ion-item style="background: transparent;" (click)="getTabsPage()">
          <img src="assets/imgs/DESAFIO-CX.png" style="border-radius: 15px">
        </button>
      </ion-col>
    </ion-row>
    <ion-row style="height: 25%; border: 0px;">
      <ion-col>
        <button ion-item style="background: transparent;">
          <img src="assets/imgs/BONOS-DE-TIEMPO-.png" style="border-radius: 15px">
        </button>
      </ion-col>
    </ion-row>
    <ion-row style="height: 25%; border: 0px;">
      <ion-col>
        <button ion-item style="background: transparent;">
          <img src="assets/imgs/CEMEX-HOY-.png" style="border-radius: 15px">
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
