
<ion-content>
 
    <ion-grid  >

		<ion-row >
			<ion-col>
				<button ion-item style="background: transparent;" (click)="verCursosPage(42)"><img style="border-radius: 15px" src="assets/images/CULTRURASEGURIDAD.png"/></button>

			</ion-col>
		</ion-row>

		<ion-row >
			<ion-col>
				<button ion-item style="background: transparent;" (click)="verCursosPage(46)"><img style="border-radius: 15px" src="assets/images/EXPERIENCIADELCLIENTE.png"/></button>

			</ion-col>		
		</ion-row>

		<ion-row >
			<ion-col>
				<button ion-item style="background: transparent;" (click)="verCursosPage(43)"><img style="border-radius: 15px" src="assets/images/ENFOQUEPRODUCTIVIDAD.png"/></button>

			</ion-col>		
		</ion-row>

		<ion-row >
			<ion-col>
				<button ion-item style="background: transparent;" (click)="verCursosPage(44)"><img style="border-radius: 15px" src="assets/images/EXPERTOTECNICO.png"/></button>

			</ion-col>
		</ion-row>

	 	<ion-row >

			<ion-col>
				<button ion-item style="background: transparent;" (click)="verCursosPage(45)"><img style="border-radius: 15px" src="assets/images/GESTIONGENTE.png"/></button>

			</ion-col>
		</ion-row>	
 
    </ion-grid>

</ion-content>
