<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Desafíos" tabIcon="ai-cement-truck"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Ranking" tabIcon="podium"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Perfil" tabIcon="ai-engineer"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="MisCursos" tabIcon="school"></ion-tab>  
</ion-tabs>
