page-login-page {
	* {
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}

	.section {
	  width: 275px;
	  background: #ecf0f1;
	  padding: 0 30px 30px 30px;
	  margin: 40px auto;
	  text-align: center;
	  border-radius: 10px;
	}

	input {
	  width: 100%;
	  background: #bdc3c7;
	  border: solid 1px;
	  height: 30px;
	  margin-bottom: 15px;
	  border-radius: 5px;
	  text-align: center;
	  font-size: 14px;
	  color: #7f8c8d;
	}

	input:focus {
	  outline: none;
	}

	button {
	  width: 100%;
	  height: 30px;
	  border: none;
	  background: #3498db;
	  color: #ecf0f1;
	  font-weight: bold;
	  margin-bottom: 35px;
	  border-radius: 10px;
	  transition: all ease-in-out .2s;
	  border-bottom: 3px solid #2980b9;
	}

	.logoApp {
		padding-top: 20px;
		padding-left: 5px;
		padding-bottom: 10px;
		width: 60%;
	}

	.logoCemex {
		width: 40%;
		height: 40%;
		padding-top: 30px;
	}
}


















