<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding style="background-color: #00002e">

	<div class="section">
		<div>
			<img class="logoCemex" src="assets/images/Cemex_Logo.png">
		</div>
		
		<img class="logoApp" src="assets/images/logo_app1.png">
	  	<br><br>

		<form [formGroup] = "loginForm" (submit)= "verHomePage()">
			<input placeholder="CemexId" formControlName="cemexId" type="text" [(ngModel)]="cemexId">
		    <input placeholder="No. Empleado" formControlName = "n_empleado" type="text" [(ngModel)]="n_empleado">
		    <button type="submit" [disabled]="!loginForm.valid">INGRESAR</button>
		</form>
	</div>
</ion-content>