@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?gsjo4d');
  src:  url('../assets/fonts/icomoon.eot?gsjo4d#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?gsjo4d') format('truetype'),
    url('../assets/fonts/icomoon.woff?gsjo4d') format('woff'),
    url('../assets/fonts/icomoon.svg?gsjo4d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai-engineer:before,
.ion-ios-ai-engineer:before ,
.ion-ios-ai-engineer-outline:before ,
.ion-md-ai-engineer:before ,
.ion-md-ai-engineer-outline:before {
  content: "\e901";
  font-size: 25px;
}
.icon-ai-cement-truck:before,
.ion-ios-ai-cement-truck:before ,
.ion-ios-ai-cement-truck-outline:before ,
.ion-md-ai-cement-truck:before ,
.ion-md-ai-cement-truck-outline:before {
  content: "\e900";
  font-size: 32px;
}
