page-perfil-page {
	.fondoProfile{
		width : 100%;
		position : absolute;
		/*z-index : 1;*/
	}

	.avatar{
		position: relative;
	    /*z-index: 2;*/
	    margin: 1vh;
	    width: 55%;
	}

	.itemProfile{
		text-align: center;
		color: #00205b;
	}

	/*button {
		display: inline-block;
		margin: auto;
	}*/
}
