<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content >

	<ion-grid style = "margin: 0px; padding: 0px">
		<ion-row style = "margin-bottom: 5vh;">
			<ion-col [ngSwitch] = "sexo"  col-12 text-align style = "margin: 0px; padding: 0px" >
				<img class="fondoProfile" src="assets/images/FondoProfile.jpg">
				<div style="text-align: center;">
					<img *ngSwitchCase = "'0'" class="avatar" align="center" src="assets/images/ProfileMen.png">
					<img *ngSwitchCase = "'1'" class="avatar" align="center" src="assets/images/ProfileWomen.png">
				</div>
			</ion-col>
		</ion-row>

		<ion-row class="itemProfile" >
			<ion-col col-12 >
				<h4> {{apellido}} </h4> 
				<h5> {{nombre}} </h5>
			</ion-col>
		</ion-row>

		<ion-row >
			<ion-col class="itemProfile">
				<h2>Tipo de Empleado</h2><h4> {{tipoEmpleado.display}} </h4>
			</ion-col>
		</ion-row>

		<ion-row >
			<ion-col  style="text-align: center;" >
				<!-- <button ion-button round color="default" (click)="alertTipoEmpleado()">Cambiar Tipo de Empleado</button> -->
				<button ion-button round style="display: block; margin: auto;" (click)="presentActionSheet()">Opciones</button>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
