<!--
  Generated template for the SeguridadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="cemexBlue">
    <ion-title>CURSOS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-grid>
		<ion-row *ngFor="let row of grid">
			<ion-col col-6 *ngFor="let curso of row">
		    <div *ngIf ="curso" >
				  <a class="item item-avatar" (click)="verModulos(curso.id)">
          	<img src="https://storage.googleapis.com/ili_cemex/Cursos/{{curso.imagen}}.png">
          	<h5>{{curso.nombre}}</h5>
        	</a>
        </div>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>


