<!--
  Generated template for the RankingListadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="cemexBlue">
    <ion-title>{{nombreCurso}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item no-lines *ngFor="let rank of ranking; let i = index; ">
			<ion-avatar *ngIf="i==0">
				<img src="assets/images/Medalla1.png">
			</ion-avatar>
			<ion-avatar *ngIf="i==1">
				<img src="assets/images/Medalla2.png">
			</ion-avatar>
			<ion-avatar *ngIf="i==2">
				<img src="assets/images/Medalla3.png">
			</ion-avatar>
			<ion-avatar item-start>
				<img src="assets/images/ProfileMen.png">
			</ion-avatar>

			<p>{{i+1}}. {{rank.nombre}} {{rank.apellido}}</p>
			<p>{{rank.valorPuntaje}} Pts.</p>
		</ion-item>
	</ion-list>
</ion-content>
