<!--
  Generated template for the SeguridadModulosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="cemexBlue">
    <ion-title>MÓDULOS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-slides pager effect=flip paginationType=fraction>
		<ion-slide *ngFor="let modulo of listaModulos">
      <img src="https://storage.googleapis.com/ili_cemex/Módulos/{{modulo.imagen}}.jpg">
			<h2>{{modulo.nombre}}</h2>
      <button ion-button round [disabled]="!modulo.habilitado" (click)="verPreguntas(modulo.id, modulo.nombre)">INICIAR</button>
      <p *ngIf="!modulo.habilitado"><i>Para habilitar este módulo debes superar el anterior</i></p>
		</ion-slide>
	</ion-slides>
</ion-content>
