page-mis-cursos {

	img.c1 {
		height: 50%;
		width: 50%;
		display: block;
		margin: auto;
	}

	img.c2 {

		display: block;
		margin: auto;
	}



	h5 {
		text-align: center;
		min-height: 6vh;
	}

	h1{
		color: #00205b !important;
    	font-size: 9vw;
	}

}
