<!--
  Generated template for the MisCursos page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>

<ion-content >

<div> <img class="c2" src="assets/images/trophy.png"> </div>

	<ion-grid padding >
		<ion-row  *ngFor="let row of grid">
			<ion-col  padding-horizontal col-6 *ngFor="let curso of row">
				<div *ngIf ="curso" >
					<a (click)="verModulos(curso.CURSO_id)" >
						<img class="c1" src="https://storage.googleapis.com/ili_cemex/Cursos/{{curso.imagen}}.png" >
						<h5>{{curso.nombre}}</h5>
						<progress-bar [progress]=curso.progreso></progress-bar>
					</a>
				</div>
			</ion-col>
		</ion-row>

	</ion-grid>

</ion-content>
