<!--
  Generated template for the RankingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding class="no-scroll">

	<img src="assets/images/Podium.png">

	<div padding-top>
		<ion-segment mode="ios" [(ngModel)]="rank">
			<ion-segment-button text-wrap value="total">
				Total
			</ion-segment-button>
			<ion-segment-button value="general">
				General
			</ion-segment-button>
			<ion-segment-button value="misCursos">
				Mis Cursos
			</ion-segment-button>
		</ion-segment>
	</div>
	
	<div [ngSwitch]="rank">
		<ion-searchbar mode="ios" *ngIf="rank=='total'" (ionInput)="getItems($event, rank)"></ion-searchbar>
		<ion-searchbar mode="ios" *ngIf="rank=='general'" (ionInput)="getItems($event, rank)"></ion-searchbar>
		<ion-searchbar mode="ios" *ngIf="rank=='misCursos'" (ionInput)="getItems($event, rank)"></ion-searchbar>
		<ion-scroll scrollY="true">
			<ion-list *ngSwitchCase="'total'">
				<ion-item text-wrap no-lines *ngFor="let rank of rankingTotalSearch">
					<ion-avatar class="medalla" *ngIf="rank.posicion==1">
						<img src="assets/images/Medalla1.png">
					</ion-avatar>
					<ion-avatar class="medalla" *ngIf="rank.posicion==2">
						<img src="assets/images/Medalla2.png">
					</ion-avatar>
					<ion-avatar class="medalla" *ngIf="rank.posicion==3">
						<img src="assets/images/Medalla3.png">
					</ion-avatar>
					<ion-avatar item-start>
						<img src="assets/images/ProfileMen.png">
					</ion-avatar>

					<p>{{rank.posicion}}. {{rank.nombre}} {{rank.apellido}}</p>
					<p>{{rank.valorPuntaje}} Pts.</p>
				</ion-item>
			</ion-list>

			<ion-list *ngSwitchCase="'general'">
				<ion-item text-wrap no-lines *ngFor="let curso of cursosGeneralSearch" (click)="verPaginaListadoRanking(curso.id, curso.nombre)">
					<ion-avatar item-start>
						<img src="https://storage.googleapis.com/ili_cemex/Cursos/{{curso.imagen}}.png">
					</ion-avatar>
					<h2>{{curso.nombre}}</h2>
					<ion-icon name="ios-arrow-forward" item-end></ion-icon>
				</ion-item>
			</ion-list>

			<ion-list *ngSwitchCase="'misCursos'">
				<ion-item text-wrap *ngFor="let curso of cursosUsuarioSearch" (click)="verPaginaListadoRanking(curso.id, curso.nombre)">
					<ion-avatar>
						<img class="diploma" *ngIf="curso.aprobado == true" src="assets/images/diplomaAprobado.png">
						<img class="diploma" *ngIf="curso.aprobado == false" src="assets/images/diplomaNoAprobado.png">
					</ion-avatar>
					<ion-avatar item-start>
						<img src="https://storage.googleapis.com/ili_cemex/Cursos/{{curso.imagen}}.png">
					</ion-avatar>
					<p class="tituloCurso">{{curso.nombre}}</p>
					<ion-icon name="ios-arrow-forward" item-end></ion-icon>
				</ion-item>
			</ion-list>
		</ion-scroll>
	</div>
</ion-content>












