page-ranking-page {
	img {
		width: 50%;
		display: block;
		margin: auto;
	}

	h5 {
		text-align: center;
	}

	h2 {
		padding-top: 2px;
	}

	ion-scroll {
		height: 43vh;
	}

	.medalla {
		display: inline-block;
	}

	.diploma {
		border-radius: 0% !important;
		height: 28px !important;
		width: 28px !important;
		display: inline-block;
	}

	.tituloCurso {
		margin-top: -2px;
		font-size: medium;
		color: black;
	}
}
