<!--
  Generated template for the AsignacionCursosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true" color="cemexBlue">
    <ion-title>Asignación de Cursos</ion-title>
    <ion-buttons start *ngIf="asignacion=='colaboradores'">
    	<button ion-button (click)="presentarFiltroPosicionModal()">
  			<ion-icon style="font-size: x-large;" name="funnel"></ion-icon>
		</button>
    </ion-buttons>
    <ion-buttons end>
    	<button ion-button (click)='cancelarAsignacion()'>
  			<ion-icon style="font-size: x-large;" name="close-circle"></ion-icon>
		</button>
    	<button ion-button (click)='confirmarAsignacion()'>
  			<ion-icon style="font-size: x-large;" name="checkmark-circle"></ion-icon>
		</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-segment style="padding-bottom: 10px !important" mode="ios" [(ngModel)]="asignacion">
		<ion-segment-button value="cursos">
			Cursos
		</ion-segment-button>
		<ion-segment-button value="colaboradores">
			Colaboradores
		</ion-segment-button>
	</ion-segment>

	<div [ngSwitch]="asignacion">
		<ion-searchbar mode="ios" placeholder="Curso" [animated]="true" *ngIf="asignacion=='cursos'" (ionInput)="getItems($event, asignacion)"></ion-searchbar>
		<ion-searchbar mode="ios" [debounce]=1000 placeholder="Colaborador" [animated]="true" *ngIf="asignacion=='colaboradores'" (ionInput)="getItems($event, asignacion)"></ion-searchbar>

		<ion-item *ngIf="asignacion=='cursos'">
			<ion-label text-wrap> Seleccionar Todos</ion-label>
			<ion-checkbox checked = {{todosCursosSeleccionados}} (ionChange)="seleccionarTodoOQuitarseleccion( asignacion )"></ion-checkbox>
		</ion-item>
		<ion-item *ngIf="asignacion=='colaboradores'">
			<ion-label text-wrap> Seleccionar Todos</ion-label>
			<ion-checkbox checked = {{todosUsuariosSeleccionados}} (ionChange)="seleccionarTodoOQuitarseleccion( asignacion )"></ion-checkbox>
		</ion-item>


		<ion-scroll scrollY="true">

			<ion-list no-lines *ngSwitchCase="'cursos'">
				<ion-list>
					<ion-list-header text-center color="cemexBlue">
						CULTURA DE SEGURIDAD
					</ion-list-header>

					<div *ngFor="let curso of cursosSearch">
						<ion-item *ngIf="curso.CATEGORIA_id == 42">
							<ion-avatar item-start>
								<img src="https://storage.googleapis.com/ili_cemex/Cursos/{{curso.imagen}}.png">
							</ion-avatar>
							<ion-label text-wrap>{{curso.nombre}}</ion-label>
							<ion-checkbox checked={{curso.checked}} (ionChange)="seleccionarCurso($event, curso)"></ion-checkbox>
						</ion-item>
					</div>
				</ion-list>

				<ion-list>
					<ion-list-header text-center color="cemexBlue">
						EXPERIENCIA DEL CLIENTE
					</ion-list-header>

					<div *ngFor="let curso of cursosSearch">
						<ion-item *ngIf="curso.CATEGORIA_id == 46">
							<ion-avatar item-start>
								<img src="https://storage.googleapis.com/ili_cemex/Cursos/{{curso.imagen}}.png">
							</ion-avatar>
							<ion-label text-wrap>{{curso.nombre}}</ion-label>
							<ion-checkbox checked={{curso.checked}} (ionChange)="seleccionarCurso($event, curso)"></ion-checkbox>
						</ion-item>
					</div>
				</ion-list>

				<ion-list>
					<ion-list-header text-center color="cemexBlue">
						ENFOQUE PRODUCTIVIDAD
					</ion-list-header>

					<div *ngFor="let curso of cursosSearch">
						<ion-item *ngIf="curso.CATEGORIA_id == 43">
							<ion-avatar item-start>
								<img src="https://storage.googleapis.com/ili_cemex/Cursos/{{curso.imagen}}.png">
							</ion-avatar>
							<ion-label text-wrap>{{curso.nombre}}</ion-label>
							<ion-checkbox checked={{curso.checked}} (ionChange)="seleccionarCurso($event, curso)"></ion-checkbox>
						</ion-item>
					</div>
				</ion-list>

				<ion-list>
					<ion-list-header text-center color="cemexBlue">
						EXPERTO TÉCNICO
					</ion-list-header>

					<div *ngFor="let curso of cursosSearch">
						<ion-item *ngIf="curso.CATEGORIA_id == 44">
							<ion-avatar item-start>
								<img src="https://storage.googleapis.com/ili_cemex/Cursos/{{curso.imagen}}.png">
							</ion-avatar>
							<ion-label text-wrap>{{curso.nombre}}</ion-label>
							<ion-checkbox checked={{curso.checked}} (ionChange)="seleccionarCurso($event, curso)"></ion-checkbox>
						</ion-item>
					</div>
				</ion-list>

				<ion-list>
					<ion-list-header text-center color="cemexBlue">
						GESTIÓN GENTE
					</ion-list-header>

					<div *ngFor="let curso of cursosSearch">
						<ion-item *ngIf="curso.CATEGORIA_id == 45">
							<ion-avatar item-start>
								<img src="https://storage.googleapis.com/ili_cemex/Cursos/{{curso.imagen}}.png">
							</ion-avatar>
							<ion-label text-wrap>{{curso.nombre}}</ion-label>
							<ion-checkbox checked={{curso.checked}} (ionChange)="seleccionarCurso($event, curso)"></ion-checkbox>
						</ion-item>
					</div>
				</ion-list>
			</ion-list>

			

			<ion-list no-lines *ngSwitchCase="'colaboradores'">
				<ion-item *ngFor="let usuario of usuariosSearch">
					<ion-avatar item-start>
						<img src="assets/images/ProfileMen.png">
					</ion-avatar>
					<ion-label text-wrap>{{usuario.apellido}}, {{usuario.nombre}}</ion-label>
					<ion-checkbox checked={{usuario.checked}} (ionChange)="seleccionarUsuario($event, usuario)"></ion-checkbox>
				</ion-item>
			</ion-list>
		</ion-scroll>
	</div>
</ion-content>
