<!--
  Generated template for the FiltroCargosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Posiciones</ion-title>
    <ion-buttons start>
    	<button ion-button (click)='cancelarBusqueda()'>
  			<ion-icon style="font-size: x-large;" name="close-circle"></ion-icon>
		</button>
    </ion-buttons>
    <ion-buttons end>
    	<button ion-button *ngIf="cargosFiltro.length != 0" (click)='dismiss()'>
  			<ion-icon style="font-size: x-large;" name="checkmark-circle"></ion-icon>
		</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-searchbar mode="ios" [debounce]=500 placeholder="Cargo" [animated]="true" (ionInput)="getItems($event)"></ion-searchbar>
	<ion-scroll scrollY="true">
		<ion-list no-lines>
			<ion-item *ngFor="let cargo of cargosSearch">
				<ion-label text-wrap>{{cargo.nombre}}</ion-label>
				<ion-checkbox checked={{cargo.checked}} (ionChange)="seleccionarCargo($event, cargo)"></ion-checkbox>
			</ion-item>
		</ion-list>
	</ion-scroll>
</ion-content>
